## LAB Lab | Customer Analysis Round 1

In [1]:
import pandas as pd  
import numpy as np

C:\Users\Elsa\AppData\Local\Temp\ipykernel_14560\2170618911.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [44]:
#Get Data
#Read the three files into python as dataframes
file1 = pd.read_csv('Data/file1.csv')
file2 = pd.read_csv('Data/file2.csv')
file3 = pd.read_csv('Data/file3.csv')

In [45]:
#Show the DataFrame's shape.
print(file1.shape)
print(file2.shape)
print(file3.shape)

(4008, 11)
(996, 11)
(7070, 11)

In [46]:
#Standardize header names.
cols = []
for i in range(len(file1.columns)):
    cols.append(file1.columns[i].lower())
file1.columns = cols

In [47]:
cols = []
for i in range(len(file2.columns)):
    cols.append(file2.columns[i].lower())
file2.columns = cols

In [48]:
cols = []
for i in range(len(file3.columns)):
    cols.append(file3.columns[i].lower())
file3.columns = cols

In [49]:
#Renaming some columns
file1.rename(columns={'st':'state'}, inplace=True)

In [50]:
file2.rename(columns={'st':'state'}, inplace=True)

In [51]:
# Rearranging columns
file2 = file2[['customer','state','gender','education','customer lifetime value','income','monthly premium auto','number of open complaints','policy type','vehicle class','total claim amount']]

In [52]:
file3 = file3[['customer','state','gender','education','customer lifetime value','income','monthly premium auto','number of open complaints','policy type','vehicle class','total claim amount']]

In [53]:
#Concatenate the three dataframes
all_data = pd.concat([file1, file2, file3], axis=0)
all_data

,customer,state,gender,education,customer lifetime value,income,monthly premium auto,number of open complaints,policy type,vehicle class,total claim amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
7065,LA72316,California,M,Bachelor,23405.98798,71941.0,73.0,0,Personal Auto,Four-Door Car,198.234764
7066,PK87824,California,F,College,3096.511217,21604.0,79.0,0,Corporate Auto,Four-Door Car,379.200000
7067,TD14365,California,M,Bachelor,8163.890428,0.0,85.0,3,Corporate Auto,Four-Door Car,790.784983
7068,UP19263,California,M,College,7524.442436,21941.0,96.0,0,Personal Auto,Four-Door Car,691.200000
7069,Y167826,California,M,College,2611.836866,0.0,77.0,0,Corporate Auto,Two-Door Car,369.600000

In [54]:
#Which columns are numerical?
all_data.info()
#(income), (monthly premium auto) and (total claim amount) are numerical. 
#(Customer lifetime) could be considered as it is a percentage.
#(Number of open complaints) should be reformatted as it should be numerical

<class 'pandas.core.frame.DataFrame'>
Index: 12074 entries, 0 to 7069
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customer                   9137 non-null   object
 1   state                      9137 non-null   object
 2   gender                     9015 non-null   object
 3   education                  9137 non-null   object
 4   customer lifetime value    9130 non-null   object
 5   income                     9137 non-null   float64
 6   monthly premium auto       9137 non-null   float64
 7   number of open complaints  9137 non-null   object
 8   policy type                9137 non-null   object
 9   vehicle class              9137 non-null   object
 10  total claim amount         9137 non-null   float64
dtypes: float64(3), object(8)
memory usage: 1.1+ MB

In [ ]:
#Understand the meaning of all columns

In [55]:
#DATA CLEANING
#Delete the column education and the number of open complaints from the dataframe.
all_data = all_data.drop(['education'], axis =1)

In [56]:
all_data = all_data.drop(['number of open complaints'], axis=1)

In [57]:
#Correct the values in the column customer lifetime value. They are given as a percent, 
#so multiply them by 100 and change dtype to numerical type.
all_data['customer lifetime value'] = all_data['customer lifetime value'].str.rstrip('%').astype(float)

In [61]:
all_data['customer lifetime value']*=100

In [63]:
#Check for duplicate rows in the data and remove if any.
duplicate_rows = all_data[all_data.duplicated()]

In [64]:
if not duplicate_rows.empty:
    all_data = all_data.drop_duplicates()

In [ ]:
#Filter out the data for customers who have an income of 0 or less.
filtered_all_data = all_data[all_data['income'] <= 0]

In [ ]:
filtered_all_data

In [68]:
#Check and deal with NaN values
round(all_data.isna().sum()/len(all_data),4)*100  # shows the percentage of null values in a column

customer                    0.01
state                       0.01
gender                      1.35
customer lifetime value    77.47
income                      0.01
monthly premium auto        0.01
policy type                 0.01
vehicle class               0.01
total claim amount          0.01
dtype: float64

In [69]:
all_data = all_data.drop(['customer lifetime value'], axis =1)

In [71]:
all_data.isna().sum()

customer                  1
state                     1
gender                  123
income                    1
monthly premium auto      1
policy type               1
vehicle class             1
total claim amount        1
dtype: int64

In [78]:
#Filling missing values in 'gender' column with mode (most frequent value)
mode_gender = all_data['gender'].mode()[0]
all_data['gender'].fillna(mode_gender, inplace=True)

In [72]:
all_data['gender'].value_counts()

gender
F         4555
M         4366
Male        40
female      30
Femal       17
Name: count, dtype: int64

In [73]:
#standarization to "f" for female "m" for male
all_data['gender'] = all_data['gender'].str.lower()

In [75]:
all_data['gender'].replace({'female': 'f','femal':'f', 'male':'m'}, inplace=True)

C:\Users\Elsa\AppData\Local\Temp\ipykernel_14560\3129996180.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  all_data['gender'].replace({'female': 'f','femal':'f', 'male':'m'}, inplace=True)

In [76]:
all_data['gender'].value_counts()

gender
f    4602
m    4406
Name: count, dtype: int64

In [ ]:
all_data.isna().sum()

In [82]:
cleaned_df = all_data.dropna()

In [85]:
#Datetime format - Extract the months from the dataset and store in a separate column. 
#Then filter the data to show only the information for the first quarter , 
#ie. January, February and March. 
#Hint: If data from March does not exist, consider only January and February.
import time
from datetime import date

In [86]:
marketing = pd.read_csv('Data/marketing_customer_analysis.csv')

In [ ]:
marketing.info()

In [90]:
#Convert to datetime
marketing['Effective To Date'] = pd.to_datetime(marketing['Effective To Date'])

C:\Users\Elsa\AppData\Local\Temp\ipykernel_14560\3788584873.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  marketing['Effective To Date'] = pd.to_datetime(marketing['Effective To Date'])

In [92]:
#Extract the months from the dataset and store in a separate column.
marketing['month'] = marketing['Effective To Date'].dt.month

In [94]:
#Filter data
filtered_data = marketing[(marketing['month'] >= 1) & (marketing['month'] <= 3)]

In [ ]:
filtered_data

In [1]:
#BONUS: Put all the previously mentioned data transformations into a function.
#Function to standarize columns in lowercase:
def lowercase_columns(data):
    cols = [col.lower() for col in data.columns]
    data.columns = cols

In [ ]:
#Function to drop all rows containing all null values
def drop_null_rows(data):
    return data.dropna(how='all')

In [ ]:
#Function to calculate the percentage of nulls in a dataset
def calculate_null_percentage(data):
    null_percentage = round(data.isna().sum() / len(data) * 100, 4)
    nulls_df = pd.DataFrame(null_percentage).reset_index()
    nulls_df.columns = ['header_name', 'percent_nulls']
    return nulls_df

In [ ]:
#Change data to numeric type function:
def correct_data_types(data, columns):
    for col in columns:
        data[col] = pd.to_numeric(data[col], errors='coerce')