# PANDAS LAB - Continuation of the EuroLeague Case Study
## Let's compare the competitions!

![](https://eurospects.com/wp-content/uploads/2018/10/eurocupeuroleague.png)

First of all, we must 

- Import the actual.csv Dataset. This dataset will be the CSV of the result obtained in class.
- Import ec23.xlsx. This dataset correspond to the import the dataset corresponding to Eurocup. Don't worry, this time the Excel will be cleaned (almost)

<details>
    <summary> Lab results </summary>

![](https://media1.tenor.com/m/lx2WSGRk8bcAAAAC/pulp-fiction-john-travolta.gif)

PERO QUÉ OS HABÉIS CREÍDO

</details>

In [ ]:
#pip install openpyxl
# In case there is an error with this .xlsx document opening, install this library

In [3]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
     ---------------------------------------- 0.0/250.0 kB ? eta -:--:--
     - -------------------------------------- 10.2/250.0 kB ? eta -:--:--
     ---- -------------------------------- 30.7/250.0 kB 435.7 kB/s eta 0:00:01
     ------------- ----------------------- 92.2/250.0 kB 744.7 kB/s eta 0:00:01
     -------------------------------------  245.8/250.0 kB 1.9 MB/s eta 0:00:01
     -------------------------------------- 250.0/250.0 kB 1.5 MB/s eta 0:00:00
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2

In [4]:
import pandas as pd
import numpy as np
import openpyxl as xl

In [5]:
elteams=pd.read_csv("datasets/actual.csv")
ecteams=pd.read_excel("datasets/ec2023.xlsx", index_col=False)

Let's analyze the EuroCup Dataframe! Is there any cleaning needed? Remember the basics: 
- Drop Null Values
- Drop Duplicate Rows
- Drop Strange Columns if you see any

In [8]:
ecteams.columns

Index(['Unnamed: 0', 'fecha', 'ronda', 'local', 'visitante', 'localscore',
       'roadscore', 'Winner', 'Ganador', 'plusminus'],
      dtype='object')

In [ ]:
#He limpiado directamente el DataFrame usando el inplace=True, no sé si en este caso era mejor guardar los
#cambios en otro dataframe

In [17]:
ecteams.dropna(inplace=True)

In [18]:
ecteams.drop_duplicates(inplace=True)

In [15]:
ecteams.drop("Unnamed: 0", axis=1, inplace=True)

Let's now compare it with the EL dataset that we have: You might select a sample of both of them and see what are the inconsistencies!

In [19]:
#Your sample ecteams code here: 
ecteams.sample()

,fecha,ronda,local,visitante,localscore,roadscore,Winner,Ganador,plusminus
19,2024-01-23T18:00:00,16,U-BT Cluj-Napoca,Dolomiti Energia Trento,88,83.0,Local,88.0,5.0

In [20]:
#Your sample elteams code here: 
elteams.sample()

,Competition,Phase,Ronda,Dia,Hora,Local,Visitante,Localscore,Roadscore,Arbitros,Plusminus,Winner,Ganador
75,Euroleague,Regular Season,9,2023-11-16,20:45:00,Real Madrid,AS Monaco,91,73,"['JAVOR, DAMIR', 'SILVA, SERGIO', 'TSAROUCHA, ...",18,Real Madrid,Local

What are the inconsistencies that you are seeing? Write them down!

- En el df de ecteams la columna "plusminus" son floats
- En ecteams no hay columnas de Competition/Phase
- En ecteams la columna "fecha" contiene fecha y hora (en el df elteams lo separamos en dos columnas)
- En ecteams no aparecen los arbitros
- Winner y Ganador son diferentes
- Nombres con mayusculas

<details>
    <summary> Expand the box to see the inconsistencies </summary>

- The columns are named in lowercase and the columns in Euroleague are capitalized
- There are some missing columns (f.e. Arbitros)
- Fecha is not split in Dia and Hora
- `Winner and Ganador Columns show different data` are not the same! Be extremely careful about it

</details>

As you can see there are a lot of different inconsistencies right? 
But beofore starting cleaning like crazy people, let's take a second to know what do we want to compare: 

- The CLUBS are impossible to compare, as different competitions defines different clubs
- Both rounds (Eurocup has less rounds) and Dates (Different Dates) are also not really useful
- We don't have information about Arbitros

## Conclusion

### We must take into consideration what data we DO have in both dataframes to compare it propperly and don't use time cleaning unnecessary things. 

In this particular case, we will need to compare:

`Competition`: The main column that define one from another. 

Create the Competition column in the EuroCup dataframe, being the fixed value "Eurocup"

In [21]:
#Your Code here: 
ecteams["Competition"]="Eurocup"
ecteams.sample()

,fecha,ronda,local,visitante,localscore,roadscore,Winner,Ganador,plusminus,Competition
60,2023-12-19T18:00:00,12,U-BT Cluj-Napoca,Mincidelice JL Bourg en Bresse,89,98.0,Visitante,98.0,-9.0,Eurocup

`Ganador`: Being the actual values "Local" or "Visitante"

**BE CAREFUL**: Before changing the correct column to "Ganador" from the EC dataframe, there is a "Ganador" column with the incorrect information: STEP BY STEP!

In [22]:
#Drop the Column Ganador from the Eurocup Dataframe
ecteams.drop("Ganador", axis=1, inplace=True)
ecteams.sample()

,fecha,ronda,local,visitante,localscore,roadscore,Winner,plusminus,Competition
77,2023-12-05T20:00:00,10,Slask Wroclaw,Mincidelice JL Bourg en Bresse,63,72.0,Visitante,-9.0,Eurocup

In [24]:
#Rename the column with the actual information to "Ganador"
ecteams.rename(columns={"Winner":"Ganador"}, inplace=True)
ecteams.sample()

,fecha,ronda,local,visitante,localscore,roadscore,Ganador,plusminus,Competition
103,2023-11-15T21:00:00,7,Dreamland Gran Canaria,Slask Wroclaw,81,77.0,Local,4.0,Eurocup

As seen in the first look at the dataframes, there was a problem with the columns: Are lower when they should be Capitalized, as in the Euroleague DataFrame. Change the column names to capitalize. 

is there a quick way to do it?

In [26]:
# Your code here: 
ecteams.columns = [i.lower() for i in ecteams.columns]
ecteams.sample()

,fecha,ronda,local,visitante,localscore,roadscore,ganador,plusminus,competition
151,2023-10-17T19:30:00,3,ratiopharm Ulm,7bet-Lietkabelis Panevezys,99,74.0,Local,25.0,Eurocup

Now it is time to just take the useful columns from each data! We will call the result subsets `comp_el` and `comp_ec`

REMEMBER: Use the same order of the columns for each dataset. 

Recommended order: Competition, Localscore, Roadscore, Plusminus, Ganador. **Nothing else is useful**

In [28]:
elteams.columns = [i.lower() for i in elteams.columns]

In [34]:
# Your code here: competition, localscore, roadscore, plusminus, ganador
comp_ec = ecteams.loc[:, ["competition", "localscore", "roadscore", "plusminus", "ganador"]]
comp_el = elteams.loc[:, ["competition", "localscore", "roadscore", "plusminus", "ganador"]]

In [35]:
comp_ec.sample()

    competition  localscore  roadscore  plusminus    ganador
156     Eurocup          75       81.0       -6.0  Visitante

In [36]:
comp_el.sample()

  competition  localscore  roadscore  plusminus    ganador
6  Euroleague          78         88        -10  Visitante

Time to concatenate them both! Create a concat of both Dfs, called `competition`

In [41]:
# Your code here: 
competition = pd.concat([comp_ec,comp_el])
competition

    competition  localscore  roadscore  plusminus    ganador
0       Eurocup         111      113.0       -2.0  Visitante
1       Eurocup          78       97.0      -19.0  Visitante
2       Eurocup          66       86.0      -20.0  Visitante
3       Eurocup          85       92.0       -7.0  Visitante
4       Eurocup          64       68.0       -4.0  Visitante
..          ...         ...        ...        ...        ...
220  Euroleague          79       73.0        6.0      Local
221  Euroleague          80       68.0       12.0      Local
222  Euroleague          76       85.0       -9.0  Visitante
223  Euroleague          88       84.0        4.0      Local
224  Euroleague          76       69.0        7.0      Local

[395 rows x 5 columns]

## Well done!

Now we have the combination of both competitions in the same dataframe. Is time for the questions you must answer:

1. How many matches have been in each competition?
2. What are the maximum points that a local team has scored per competition? And the road team as well. 
3. Do the same operations with the average points (per competition)
4. Can you tell me the maximum difference that has been in a match, splitted by competition? 
    - Careful: The Plusminus is both positive and negative, being negative that the Road Team has achieved the Victory. To have the absolute, create a new Column named Absolut_Plusminus. Remember: np.where is life!
5. Also grouped by competition, give me the number of victories of the Locals and the Visitors

In [43]:
# 1
competition.competition.value_counts()

competition
Euroleague    225
Eurocup       170
Name: count, dtype: int64

In [48]:
# 2
competition.groupby("competition").agg({"localscore":"max","roadscore":"max"})

             localscore  roadscore
competition
Eurocup             120      114.0
Euroleague          130      126.0

In [49]:
# 3
competition.groupby("competition").agg({"localscore":"mean","roadscore":"mean"})

             localscore  roadscore
competition
Eurocup       85.235294  83.958824
Euroleague    83.284444  79.173333

In [53]:
# 4
competition['absolut_plusminus'] = np.abs(competition['plusminus'])
#creo una nueva columna con el cálculo del absolut plusminus

In [54]:
max_diff_competition = competition.groupby('competition')['absolut_plusminus'].max()
print(max_diff_competition)

competition
Eurocup       39.0
Euroleague    39.0
Name: absolut_plusminus, dtype: float64

In [56]:
# 5
wins_competition = competition.groupby(['competition', 'ganador']).size()

In [57]:
print(wins_competition)

competition  ganador
Eurocup      Local         90
             Visitante     80
Euroleague   Local        150
             Visitante     75
dtype: int64