## Machine Learning, Advanced LAB 8.1
### Revisiting Machine Learning Case Study

In [23]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)
import warnings
warnings.filterwarnings('ignore')
import matplotlib.pyplot as plt
import seaborn as sns

In [24]:
df = pd.read_csv('learningSet.csv')
df.shape

(95412, 481)

1. Check for null values in all the columns

In [25]:
nulls_percent_df = pd.DataFrame(df.isna().sum()/len(df)).reset_index()
nulls_percent_df.columns = ['column_name', 'nulls_percentage']
nulls_percent_df

    column_name  nulls_percentage
0       ODATEDW          0.000000
1       OSOURCE          0.000000
2         TCODE          0.000000
3         STATE          0.000000
4           ZIP          0.000000
..          ...               ...
476    MDMAUD_R          0.000000
477    MDMAUD_F          0.000000
478    MDMAUD_A          0.000000
479    CLUSTER2          0.001383
480    GEOCODE2          0.001383

[481 rows x 2 columns]

2. Exclude the following variables by looking at the definitions. Create a new empty list called `drop_list`. We will append this list and then drop all the columns in this list later:
- `OSOURCE` - symbol definitions not provided, too many categories
- `ZIP CODE` - we are including state already

In [26]:
data = df.copy()

In [27]:
drop_list = []
drop_list.append('OSOURCE')
drop_list.append('ZIP')

In [28]:
data = data.drop(columns=drop_list)

3. Identify columns that over 85% missing values

In [29]:
columns_above_threshold = nulls_percent_df[nulls_percent_df['nulls_percentage']>0.85]
print(len(columns_above_threshold['column_name']))

25

4. Remove those columns from the dataframe

In [30]:
drop_columns_list = list(columns_above_threshold['column_name'])
print(drop_columns_list)

['NUMCHLD', 'RDATE_3', 'RDATE_4', 'RDATE_5', 'RDATE_6', 'RDATE_7', 'RDATE_10', 'RDATE_13', 'RDATE_15', 'RDATE_17', 'RDATE_20', 'RDATE_21', 'RDATE_23', 'RAMNT_3', 'RAMNT_4', 'RAMNT_5', 'RAMNT_6', 'RAMNT_7', 'RAMNT_10', 'RAMNT_13', 'RAMNT_15', 'RAMNT_17', 'RAMNT_20', 'RAMNT_21', 'RAMNT_23']

In [31]:
data=data.drop(columns=drop_columns_list)

In [32]:
data.shape

(95412, 454)

 5. Reduce the number of categories in the column `GENDER`. The column should only have either "M" for males, "F" for females, and "other" for all the rest
    - Note that there are a few null values in the column. We will first replace those null values using the code below:

    ```python
    print(categorical['GENDER'].value_counts())
    categorical['GENDER'] = categorical['GENDER'].fillna('F')
    ```

In [33]:
data['GENDER'].value_counts()

GENDER
F    51277
M    39094
      2957
U     1715
J      365
C        2
A        2
Name: count, dtype: int64

In [34]:
data['GENDER'] = data['GENDER'].fillna('F')

In [35]:
data['GENDER'] = data['GENDER'].apply(lambda x: 'M' if x == 'M' else ('F' if x == 'F' else 'other'))

In [36]:
print(data['GENDER'].value_counts())

GENDER
F        51277
M        39094
other     5041
Name: count, dtype: int64

In [37]:
data.to_csv('new_learningSet.csv', index=False)